{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended",
      "prettier"
    ],
    "rules": {
      "linebreak-style": ["error", "unix"],
      "semi": ["error", "always"],
      "quotes": [2, "single", { "avoidEscape": true }],
      "comma-dangle": [
        "error",
        {
          "arrays": "always-multiline",
          "objects": "always-multiline",
          "exports": "always-multiline",
          "functions": "always-multiline"
        }
      ],
      "max-len": [
        "error",
        {
          "code": 100,
          "ignoreComments": true,
          "ignoreStrings": true,
          "ignoreTemplateLiterals": true
        }
      ]
    }
  }